<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <menuitem id="menu_committee_management_root"
              name="Committee Management"
              web_icon="committee_management,static/description/icon.png"
              sequence="-100"/>

    <menuitem id="menu_committee_root"
              name="Committees"
              parent="menu_committee_management_root"
              sequence="2"/>

    <menuitem id="menu_meeting_root"
              name="Meetings"
              parent="menu_committee_management_root"
              sequence="3"/>

    <menuitem id="menu_complainer_root"
              name="Complainers"
              action="crede_complainer_registration.action_contacts"
              parent="menu_committee_management_root"
              sequence="4"/>


</odoo>