<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <menuitem id="menu_committee_management_root"
              name="Committee Management"
              web_icon="committee_management,static/description/icon.png"
              sequence="-100"/>

    <menuitem id="menu_committee_root"
              name="Committee"
              action="action_committee_committee"
              parent="menu_committee_management_root"
              sequence="1"/>

        <menuitem id="menu_complainer_root"
              name="Complainer"
              action="crede_complainer_registration.action_contacts"
              parent="menu_committee_management_root"
              sequence="2"/>


</odoo>